/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-29-2015, 06:04:17 PM
    Author     : MariaJose
*/

//Labels
.label{
    -fx-font-size: 16px;
    -fx-font-family: Impact, fantasy;
    /*-fx-text-fill: #000080;*/
    -fx-text-fill: #2F3640;

}

.opciones{
    -fx-font-size: 12px;
    -fx-font-family: Arial;
    -fx-text-fill: #072676;
}

#codigo{
    /*   -fx-text-fill: firebrick;*/
    -fx-text-fill:#CC1000;
}

.opciones{
    -fx-font-size: 12px;
    -fx-font-family: Arial;
}

//Bandeja de notificaciones
.bandeja{
    /*-fx-border-color: #7F0A00;*/
    -fx-background-color: #A61103;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
    -fx-padding: 0.5;

}

.bandejaLabel{
    -fx-text-fill: #F7F7F7;
    -fx-padding: 5;
}
.bandejaLabel:hover{
    /*-fx-text-fill: #F5DB73;*/
    /*-fx-background-color: #F5DB73;*/
    -fx-background-color: #F24C27;
    -fx-border-insets:3;
    -fx-background-radius: 0 0 10 10;
    /*-fx-border-radius:7;*/
    -fx-border-width:1.0;
}

//Botones
.button{

    -fx-background-color: linear-gradient(to bottom, #2E95BF, #1F637F);
    -fx-background-radius: 10;
    -fx-font-family: Impact,fantasy;
    -fx-text-fill:#F2F2F2;
    -fx-font-size: 16px;
    -fx-padding: 8px 20px 10px 20px;
    -fx-border: dotted #3a789e 2px;

}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #45c998, #4fb8af);

}

//Combos

.comboTextField {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1 0 1 1;
    -fx-padding: 1 3 1 3;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.comboTextField:focused {
    -fx-background-color: -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1 0 1 1;

}

.comboButton {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
}

.comboButton:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 5 5 0, 0 4 4 0, 0 3 3 0;
}

.combo-down-arrow {
    -fx-background-color: #919191;
    -fx-padding: 0.666667em 0.416667em 0.0em 0.416667em;  /* 8 5 0 5 */
    -fx-shape: "M0 0 L1 0 L.5 1 Z";
    -fx-effect: innershadow( two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 1 );
}

.comboFocus{
    -fx-border-color:-fx-focus-color;       
    -fx-border-insets: -1;
    -fx-border-radius: 0 5 5 0
}
.comboFocusOut{
    -fx-border-color:transparent;   
    -fx-border-insets: 0;
    -fx-border-radius: 0 5 5 0
}

//Opciones de imagenes

.image{
    -fx-padding: 10;
    /*-fx-background-color: firebrick;*/
    -fx-background-color: #A61103;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , #000000  , 5, 0.0 , 1 , 1 );

}

.image:hover{
    /*-fx-rotate:4;*/
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;

}

.image2{
    -fx-padding: 10;
    -fx-background-color: #A61103;
    -fx-background-radius: 5;
    -fx-effect: dropshadow( three-pass-box , #000000  , 5, 0.0 , 1 , 1 );
    /*-fx-opacity: 1.0;*/
}

.image2:hover{
    /*-fx-rotate:4;*/
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
    /*-fx-opacity: 0.9;*/

}

//Para los menus Laterales

//Menu lateral Izquierdo
.menuLateral{
    -fx-float: left;
    -fx-background-color:#41BDC9;
    -fx-border-color: #3366CC;

}

//Botones internos
.menuItem{
    -fx-background-color: #8E8E8E;
    -fx-font-family: Arial;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-background-radius: 0;

}

.menuItem:hover{
    /*-fx-rotate:4;*/
    -fx-background-color: #DADADA;
    
}

//Encabazado 
/*.titled-pane > .title {
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; 
}*/

.titled-pane 
{
-fx-skin: "com.sun.javafx.scene.control.skin.TitledPaneSkin";    
-fx-text-fill: -fx-text-base-color;
}
.titled-pane:focused 
{
-fx-text-fill: white;
}
.titled-pane > .title 
{
-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title 
{
-fx-color: -fx-focus-color;
}

/*.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em;  0 3 0 0 
}*/

/*.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em;  3 3.75 3 3.75 
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}*/

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
-fx-background-color:
-fx-box-border,
linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
 }

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color: white;
}


//Menu Lateral derecho
.cerrarSesion:hover{
    -fx-text-emphasis: circle;
    -fx-text-fill: #FF1400;

}

// AnchorPane

.anchorPane{


}

.anchorPane{


}

.container{
    -fx-border-color:darkblue ; 
    -fx-border-insets:3;
    -fx-border-radius:7;
    -fx-border-width:1.0;
}